<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="north">
                <ui:include src="/templates/header.xhtml"/>     
            </ui:define>

            <ui:define name="center">
                <div id="idInsertar" style="float: left; width: 50%; border: black;">
                    <h:form>
                         <h2>Insertar un destino</h2>
                        <h:panelGrid columns="2" cellpadding="4"> 
                           
                           

                            <h:outputLabel id="idnom_de" value="Destino:"/>
                            <p:inputText id="nom_de" 
                                         label="Nombre" 
                                         required="true"
                                         value="#{destinosController.destino}">

                            </p:inputText>
                            <h:outputLabel id="idtiempoRe" value="Tiempo Recorrido:"/>
                               <p:inputText id="tiepoRe" 
                                         label="Tiempo del Recorrido" 
                                         required="true"
                                         value="#{destinosController.tiempoRecorrido}">
                            </p:inputText>
                            
                            <h:outputLabel id="idtarifas" value="Tarifa (Precio):"/>
                            <p:inputText id="tarifas" 
                                         label="Tarifa o costo"
                                         required="true"
                                         value="#{destinosController.tarifa}">
                                
                            </p:inputText>
                            <br/>
                            <br/>
                        </h:panelGrid>
                        <h:panelGroup style="display:block; text-align:center">
                            <h:commandButton value="Insertar"></h:commandButton>
                            <h:commandButton value="Cancelar"></h:commandButton>
                        </h:panelGroup>
                    </h:form>
                </div>
                
                <div id="idTabla" style="float: right; width: 50%; border: black;">
                
                          <h2>Destinos</h2>
                          <h:form >
                              <p:dataTable var="item" value="#{destinosController.items}" 
                                 selectionMode="single" selection="#{destinosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idDestino}"
                                 rows="10"
                                       >
                     
                        <p:column>
                      <f:facet name="header">
                                <h:outputText value="#{bundle.ListDestinosTitle_nombreDestino}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreDestino}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDestinosTitle_tiempoRecorrido}"/>
                            </f:facet>
                            <h:outputText value="#{item.tiempoRecorrido}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDestinosTitle_tarifa}"/>
                            </f:facet>
                            <h:outputText value="#{item.tarifa}"/>
                        </p:column>
                    </p:dataTable> 
                </h:form>
                </div>
                    
            </ui:define>

            <ui:define name="south">
                <ui:include src="/templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </body>
</html>
