<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:param name="pageTitle" value="Principal"/>
            <ui:define name="head">
                <ui:include src="/templates/header.xhtml"/>
            </ui:define>
            <ui:define name="west">
                <div class="ui-fluid">
                    <div class="ui-grid-row">
                        <p:panel header="Panel muestra">
                            <p:outputLabel value="Filtra tu busqueda"></p:outputLabel>
                            <h:form>
                                <p:panelGrid columns="2">
                                    <p:outputLabel value="Fecha:"></p:outputLabel>
                                    <p:calendar value="#{comprasController.fecha}" mindate="#currentDate" maxdate="8/31/16" mask="true">
                                    </p:calendar>
                                    <p:outputLabel value="Selecciona el origen:"></p:outputLabel>
                                    <p:selectOneMenu value="#{comprasController.origen}">
                                        <f:selectItem itemLabel="Origen" itemValue="0" noSelectionOption="true"/>
                                        <f:selectItem itemLabel="Toluca" itemValue="Toluca"/>
                                        <p:ajax event="change" listener="#{comprasController.cargarDestinos}" update="menuDestinos "/>
                                    </p:selectOneMenu>

                                    <p:outputLabel value="Selecciona el Destino:"></p:outputLabel>
                                    <p:selectOneMenu id="menuDestinos" value="#{comprasController.destino}">
                                        <f:selectItem itemLabel="Destino" itemValue="0" noSelectionOption="true"/>
                                        <f:selectItems  value="#{comprasController.listaDestinos}"/>
                                    </p:selectOneMenu>
                                    <p:outputLabel value="Cantidad de boletos:"></p:outputLabel>
                                    <p:spinner value="#{comprasController.cantidadBoletos}" max="10" min="1" >
                                    </p:spinner>
                                    <p:outputLabel></p:outputLabel>
                                    <p:commandButton value="Buscar"   action="#{comprasController.cargarViajes}" update="#{p:component('tablaResultados')}"/>
                                </p:panelGrid>

                            </h:form>
                        </p:panel>
                    </div>    
                </div>    
            </ui:define>

            <ui:define name="center">
                <div class="ui-fluid">
                    <div class="ui-grid-row">
                        <p:panel style="background-color:#412FF2; height:300px;width:90%;margin-left: 5%;">
                            <p:outputLabel value="Viaja con nosotros " 
                                           style="margin-left:0%;color:white;font-style:italic; font-size:20px; font-family:Gill"/>
                            <div>
                                <p:carousel style="margin-top:10px; margin-left:10px" autoPlayInterval="2000"
                                            numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                                    <p:graphicImage library="img" name="bus.png"
                                                    width="100%" height="160px"/>
                                    <p:graphicImage library="img" name="site_logo.gif"
                                                    width="100%" height="160px"/>
                                </p:carousel>
                            </div>
                        </p:panel>
                        <div class="ui-grid-col-0"><p:spacer height="2"/></div>
                        <div class="ui-grid-col-11">
                            <p:panel header="Resultado de la busqueda" style="margin-left: 4%;" >
                                <div class="ui-grid-row">
                                    <br />
                                    <h:form id="formTabla">
                                        <p:dataTable id="tablaResultados" paginator="true" value="#{comprasController.listaViajes}" var="viaje" selection="#{comprasController.camionViajeSeleccionado}" rowKey="#{viaje.idCamionViaje}"
                                                     style="width:800px;"  >
                                            <p:column>
                                                <f:facet name="header" >Origen                  
                                                </f:facet>

                                                <h:outputText value="#{viaje.idViaje.idDestino.nombreOrigen}">

                                                </h:outputText>
                                            </p:column>
                                            <p:column >
                                                <f:facet name="header">Destino</f:facet>

                                                <h:outputText value="#{viaje.idViaje.idDestino.nombreDestino}">

                                                </h:outputText>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">Fecha salida</f:facet>

                                                <h:outputText value="#{viaje.idViaje.salida}">
                                                    <f:convertDateTime pattern="dd/MM/YY" type="date" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">Hora de salida</f:facet>

                                                <h:outputText value="#{viaje.idViaje.salida}">
                                                    <f:convertDateTime pattern="HH:mm:ss" type="date" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">Fecha llegada</f:facet>

                                                <h:outputText value="#{viaje.idViaje.llegada}">
                                                    <f:convertDateTime pattern="dd/MM/YY" type="date" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">Hora de llegada</f:facet>

                                                <h:outputText value="#{viaje.idViaje.llegada}">
                                                    <f:convertDateTime pattern="HH:mm:ss" type="date" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">Tipo de autobus</f:facet>

                                                <h:outputText value=" #{comprasController.tipoAutobus(viaje.idCamion.tipoCamion)}">

                                                </h:outputText>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">Precio individual</f:facet>

                                                <h:outputText value=" #{viaje.idViaje.idDestino.tarifa}$">

                                                </h:outputText>
                                            </p:column>
                                            <p:column selectionMode="single" style="width:16px;text-align:center"/>

                                            <f:facet name="footer">

                                                <!--<p:commandButton process="tablaResultados" update=":formTabla:viajeDetail" icon="ui-icon-search" value="Continuar" oncomplete="PF('viajeDialog').show()" />-->
                                                <p:commandButton value="Continuar" process="tablaResultados" action="/faces/users/venta_paso_1.xhtml" />
                                            </f:facet>

                                        </p:dataTable>
                                        <h:commandLink>
                                            <p:outputLabel value="Descargar  boletos"></p:outputLabel>
                                            <p:dataExporter type="pdf" target="tablaResultados" fileName="bolets" pageOnly="true"/>
                                        </h:commandLink>
                                        <p:dialog header="Información de boleto" widgetVar="viajeDialog" modal="false" showEffect="fade" hideEffect="fade" resizable="false">
                                            <form action="">
                                                <p:outputPanel id="viajeDetail" style="text-align:center;">
                                                    <p:panelGrid  columns="2" rendered="#{not empty comprasController.camionViajeSeleccionado}" columnClasses="label,value">

                                                        <h:outputText value="Inicia sesión" />

                                                    </p:panelGrid>
                                                </p:outputPanel>
                                            </form>
                                        </p:dialog>
                                    </h:form>
                                </div>
                            </p:panel>
                        </div>
                        <div class="ui-grid-col-4"><p:spacer height="2"/></div>
                    </div>
                </div>
            </ui:define>
            <ui:define name="south" >
                <ui:include src="/templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>

    </h:body>

</html>

