<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:body>
        <ui:composition template="templates/main.xhtml">
            
            <ui:param name="pageTitle" value="Principal"/>
            <ui:param name="hideWest" value="true"/>


            <ui:define name="center">

                <p:growl autoUpdate="true"
                         life="8000"/>

                <div class="ui-fluid">
                    <div class="ui-grid-row">

                        <div class="ui-grid-col-4"><p:spacer width="1"/></div>

                        <div class="ui-grid-col-4">

                            <p:messages id="msjLoginForm" closable="true"/>

                            <p:panel header="Ingresar">
                                <p:outputPanel>
                                    <h:form>
                                        <p:panel styleClass="panel-no-border">

                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-2"><p:spacer height="2"/> </div>
                                                <div class="ui-grid-col-8">
                                                    <p:outputLabel value="Usuario:"
                                                                   for="inUser"/>
                                                    <p:inputText id="inUser" 
                                                                 required="true"
                                                                 value="#{loginBean.username}"
                                                                 requiredMessage="Porfavor ingrese su nombre de usuario"
                                                                 validatorMessage="El nombre de ususario no tiene un formato valido">
                                                        <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                    </p:inputText>

                                                    <br/>
                                                    <br/>
                                                    <p:outputLabel value="Contrase&ntilde;a"
                                                                   for="inPass"/>
                                                    <p:password id="inPass"
                                                                required="true"
                                                                value="#{loginBean.contrasena}"
                                                                requiredMessage="La contrase&ntilde;a es necesaria para acceder al sistema"
                                                                validatorMessage="La contrase&ntilde;a no tiene un formato valido">
                                                        <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                    </p:password>
                                                    <br/>
                                                    <br/>
                                                    <p:captcha required="true" 
                                                               requiredMessage="Necesitamos comprobar que eres humano"/> 
                                                </div>
                                                <br/>
                                                <div class="ui-grid-col-2">

                                                </div>
                                            </div>

                                            <br/>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4"><p:spacer height="2"/></div>
                                                <div class="ui-grid-col-4">
                                                    <p:commandButton value="Ingresar" action="#{loginBean.login()}"/>
                                                </div>
                                                <div class="ui-grid-col-4"><p:spacer height="2"/></div>
                                            </div>

                                            <f:facet name="footer">
                                                <div class="ui-grid-row">
                                                    <p:outputPanel id="registra">
                                                        <div class="ui-grid-col-4">
                                                            <p:commandLink value="Registrarse" ajax="false"
                                                                           immediate="true"
                                                                           action="userAlta?faces-redirect=true"/>
                                                        </div>
                                                        <div class="ui-grid-col-1">
                                                            <p:spacer width="2"/>
                                                        </div>
                                                        <div class="ui-grid-col-7"
                                                             align="right">
                                                            <p:commandLink value="Cambiar contraseña" ajax="false"
                                                                           immediate="true"
                                                                           action="userData?faces-redirect=true"/>
                                                        </div>
                                                    </p:outputPanel>
                                                </div>
                                            </f:facet>
                                        </p:panel>
                                    </h:form>
                                </p:outputPanel>


                            </p:panel>
                        </div>

                        <div class="ui-grid-col-4"><p:spacer width="1"/></div>

                    </div>
                </div>
            </ui:define>


        </ui:composition>
    </h:body>
</html>

