<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="templates/main.xhtml">
            <ui:param name="pageTitle" value="Registro de Usuario"/>
            <ui:param name="hideWest" value="true"/>

            <ui:define name="center">
                <p:growl autoUpdate="true"
                         life="8000"/>

                <div class="ui-fluid">
                    <p:spacer height="10"/>
                    <div class="ui-grid-row">

                        <div class="ui-grid-col-2"><p:spacer width="1"/></div>
                        <div class="ui-grid-col-8">
                            <p:panel header="Registrarse">
                                <p:outputPanel>
                                    <h:form>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">

                                                <p:panelGrid columns="2"
                                                             styleClass="panelGridCenter ui-noborder">
                                                    <p:outputLabel value="Nombre:" />
                                                    <p:inputText required="true"
                                                                 value="#{altaBean.nombre}"
                                                                 requiredMessage="Por favor ingrese su nombre"
                                                                 validatorMessage="Solo se permiten letras"
                                                                 maxlength="42">
                                                        <f:validateRegex pattern="^[a-z ,.'-]+$" />
                                                    </p:inputText>

                                                    <p:outputLabel value="Apellido Paterno: "/>
                                                    <p:inputText required="true"
                                                                 value="#{altaBean.apPat}"
                                                                 requiredMessage="Por favor ingrese sus apellidos"
                                                                 validatorMessage="Solo se permiten letras"
                                                                 maxlength="42">
                                                        <f:validateRegex pattern="^[a-zA-Z úíóáé]+$" />
                                                    </p:inputText>

                                                    <p:outputLabel value="Apellido Materno: "/>
                                                    <p:inputText required="true"
                                                                 value="#{altaBean.apMat}"
                                                                 requiredMessage="Por favor ingrese sus apellidos"
                                                                 validatorMessage="Solo se permiten letras"
                                                                 maxlength="42">
                                                        <f:validateRegex pattern="^[a-zA-Z úíóáé]+$" />
                                                    </p:inputText>

                                                    <p:outputLabel value="Usuario:"/>
                                                    <p:inputText required="true"
                                                                 value="#{altaBean.username}"
                                                                 requiredMessage="El nombre de usuario es necesario"
                                                                 validatorMessage="Solo se permiten letras"
                                                                 maxlength="42">
                                                        <f:validateRegex pattern="^[a-zA-Z0-9 ,.'-]+$" />
                                                    </p:inputText>

                                                    <p:outputLabel value="Contrase&ntilde;a:"/>
                                                    <p:inputText required="true"
                                                                 value="#{altaBean.contrasena}"
                                                                 requiredMessage="La contrase&ntilde;a es nesesaria para su registro"
                                                                 validatorMessage="La contrase&ntilde;a no es valida"
                                                                 maxlength="12">
                                                        <f:validateRegex pattern="^[a-zA-Z0-9_.-]+$" />
                                                    </p:inputText>

                                                    <p:outputLabel value="Confirmar contrase&ntilde;a:"/>
                                                    <p:inputText required="true"
                                                                 value="#{altaBean.confirmpwd}"
                                                                 requiredMessage="Es necesario que confirme su cuntraseña"
                                                                 validatorMessage="La contrase&ntilde;a no es valida"
                                                                 maxlength="12">
                                                        <f:validateRegex pattern="^[a-zA-Z0-9_.-]+$" />
                                                    </p:inputText>

                                                    <p:outputLabel value="Telefono:"/>
                                                    <p:inputText required="true"
                                                                 value="#{altaBean.telefono}"
                                                                 requiredMessage="El telefono es necesario para su registro"
                                                                 validatorMessage="Solo se admiten numeros"
                                                                 maxlength="10">
                                                        <f:validateRegex pattern="^[0-9]+$"/>
                                                    </p:inputText>

                                                    <p:outputLabel value="Correo:"/>
                                                    <p:inputText required="true"
                                                                 value="#{altaBean.correo}"
                                                                 requiredMessage="Su e-mail es necesaroi para completar el registro"
                                                                 validatorMessage="El formato de correo no es valido"
                                                                 maxlength="42">
                                                        <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                                    </p:inputText>
                                                </p:panelGrid>
                                            </div>

                                            <div class="ui-grid-col-6">
                                                <p:panelGrid columns="2"
                                                             styleClass="panelGridCenter ui-noborder">
                                                    <p:outputLabel value="N&uacute;mero tarjeta:"/>
                                                    <p:inputText required="true"
                                                                 value="#{altaBean.no_tarjeta}"
                                                                 requiredMessage="La targeta es necesaria para comprar boletos"
                                                                 validatorMessage="Porfavor, solo ingrese el numero de tarjeta"
                                                                 maxlength="16">
                                                        <f:validateRegex pattern="^[0-9]+$"/>
                                                    </p:inputText>

                                                    <p:outputLabel value="C&oacute;digo seguridad:"/>
                                                    <p:inputText required="true"
                                                                 value="#{altaBean.codigo_seg}"
                                                                 requiredMessage="Ingrese el numero de seguridad de su tarjeta"
                                                                 validatorMessage="Porfavor, solo ingrese el numero de tarjeta"
                                                                 maxlength="4">
                                                        <f:validateRegex pattern="^[0-9]+$"/>

                                                    </p:inputText>

                                                    <p:outputLabel value="Fecha vencimiento:"/>
                                                    <p:calendar required="true" 
                                                                value="#{altaBean.fecha_cad}"
                                                                pattern="yyyy/MM/dd"
                                                                requiredMessage="Porfavor ingrese la fecha de vencimiento de la tarjeta"
                                                                converterMessage="Formato de fecha invalido"
                                                                navigator="true"/>



                                                </p:panelGrid>
                                                <br/>
                                                <br/>
                                                <div align="center">
                                                    <p:captcha required="true"
                                                               requiredMessage="Necesitamos comprobar si eres humano"/>
                                                </div>
                                                <br/>
                                                <br/>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-8"><p:spacer height="2"/> </div>
                                                    <div class="ui-grid-col-4">
                                                        <p:commandButton value="Registrarse"
                                                                         action="#{altaBean.alta()}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:form> 
                                </p:outputPanel>

                            </p:panel>
                        </div>
                        <div class="ui-grid-col-2"><p:spacer width="2"/></div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

