body {
    background-color: #ffffff;
    font-size: 14px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  16px;
    font-weight: bold;
    color: #D20005;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.panelGridCenter {
    margin: 0 auto;
}

.container{
    margin-left: 2%;
    margin-right: 2%;
}

.panelFullHeight{
    height: 100%;
}

/*
.content{
    background: navy;
    color: white;
}*/

.panel-no-border{
    border: hidden;
    border-color: white;
    border-style: hidden;
}