<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:param name="pageTitle" value="Pagina user"/>
            <ui:param name="hideWest" value="true"/>
            <ui:define name="center">


                <p>Bienvenido #{loginBean.username}-#{loginBean.user.nombre}</p>
                <p:commandButton value="Cerrar sesion"
                                 action="#{loginBean.logout()}"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

