<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:param name="pageTitle" value="Principal"/>
            <ui:param name="hideWest" value="true"/>
            <ui:define name="head">
                <ui:include src="/templates/header.xhtml"/>
            </ui:define>

            <ui:define name="center">
                <p:steps activeIndex="2" styleClass="custom" readonly="false">
                        <p:menuitem value="Boletos"  url="#"/>
                        <p:menuitem value="Confirmar datos" url="#"/>
                        <p:menuitem value="Imprimir boletos" url="#"/>
                </p:steps>
                <p:panel header="Boletos de abordaje" style="margin-left: 4%;">
                    <h:form id="formBol">
                        <p:dataTable id="tablaB" var="boleto" value="#{boletosController.listaBoletosComprados}"  paginator="true" style="margin-bottom:20px" rowKey="#{boleto.idBoleto}" rows="10" 
                                      paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                            <p:column>
                                <f:facet name="header" >Informacion de boletos </f:facet>
                                <h:outputText value="Numero de boleto:" ></h:outputText>
                                <h:outputText value="#{boleto.idBoleto}" ></h:outputText>
                                <br/>
                                <h:outputText value="Origen:" ></h:outputText>
                                <h:outputText value="#{boleto.idCamionViaje.idViaje.idDestino.nombreOrigen}" ></h:outputText>
                                <br/>   
                                <h:outputText value="Destino:" ></h:outputText>
                                <h:outputText value="#{boleto.idCamionViaje.idViaje.idDestino.nombreDestino}" ></h:outputText>
                                <br/>
                                <h:outputText value="Importe total:" ></h:outputText>
                                <h:outputText value="#{boleto.idCamionViaje.idViaje.idDestino.tarifa}" ></h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header" >Datos de la empresa</f:facet>
                                <h:outputText value="ETN TURISTAR LUJO S.A. DE C.V.
                                    Origen: TOLUCA SATURNO # 39 COL.NUEVA INDUSTRIAL VALLEJO C.P. 07700 MEXICO D.F.">
                                                  
                                </h:outputText>
                            </p:column>
                            <f:facet name="footer">

                                <!--<p:commandButton process="tablaResultados" update=":formTabla:viajeDetail" icon="ui-icon-search" value="Continuar" oncomplete="PF('viajeDialog').show()" />-->
                                <p:commandButton value="Terminar" process="tablaB" action="/index.xhtml" />
                            </f:facet>
                        </p:dataTable>

                        <h3>Imprimir boletos</h3>
                        <h:commandLink>
                            <p:outputLabel value="Descargar  boletos"></p:outputLabel>
                            <p:dataExporter type="pdf" target="tablaB" fileName="boletos" pageOnly="true"/>
                        </h:commandLink>
                        <p:outputLabel value=" ó "></p:outputLabel>
                        <p:commandButton value="ir a inicio" action="index.xhtml"></p:commandButton>

                    </h:form>
                </p:panel>
            </ui:define>
            <ui:define name="south" >
                <ui:include src="/templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

