<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>

    </h:head>
    <h:body>

        <ui:composition template="/templates/main.xhtml">
            <ui:param name="pageTitle" value="Principal"/>
            <ui:param name="hideWest" value="true"/>
            <ui:define name="head">
                <ui:include src="/templates/header.xhtml"/>
            </ui:define>

            <ui:define name="center">
                <div class="ui-fluid">
                    <p:steps activeIndex="1" styleClass="custom" readonly="false">
                        <p:menuitem value="Boletos"  url="#"/>
                        <p:menuitem value="Confirmar datos" url="#"/>
                        <p:menuitem value="Imprimir boletos" url="#"/>
                    </p:steps>
                    <div class="ui-grid-row">


                        <div class="ui-grid-col-0"><p:spacer height="2"/></div>

                        <div class="ui-grid-col-11">
                            <p:panel header="Datos del usuarioss" widgetVar="panel" style="margin-bottom:20px" >
                                <p:panel style="border-radius: 20px; ">
                                    <h:outputText   value="Tiempo restante:" style="font-size:36px; color: green;"></h:outputText>
                                    <h:outputText id="temporiza" value="#{boletosController.tiempoEspera}" style="font-size:36px;color: green;" />

                                </p:panel>
                                <div class="ui-grid-row">

                                    <h:form id="formBoletos">

                                        <center>
                                            <p:panelGrid columns="2">
                                                <h:panelGroup>
                                                    <h:outputText value="Origen:#{comprasController.camionViajeSeleccionado.idViaje.idDestino.nombreOrigen}">
                                                    </h:outputText>
                                                </h:panelGroup>
                                                <h:panelGroup>
                                                    <h:outputText value="Destiono:#{comprasController.camionViajeSeleccionado.idViaje.idDestino.nombreDestino}">
                                                    </h:outputText>
                                                </h:panelGroup>
                                                <h:panelGroup>
                                                    <h:outputText value="Fecha de salida:"></h:outputText>
                                                    <h:outputText value="#{comprasController.camionViajeSeleccionado.idViaje.salida}">
                                                        <f:convertDateTime pattern="dd/MM/YYYY" type="date" />
                                                    </h:outputText>
                                                </h:panelGroup>
                                                <h:panelGroup>
                                                    <h:outputText value="Hora de salida:"></h:outputText>
                                                    <h:outputText value="#{comprasController.camionViajeSeleccionado.idViaje.salida}">
                                                        <f:convertDateTime pattern="HH:mm" type="date" />
                                                    </h:outputText>
                                                </h:panelGroup>
                                                <h:panelGroup>
                                                    <h:outputText value="Total a pagar:#{comprasController.totalVenta()}">
                                                    </h:outputText>
                                                </h:panelGroup>
                                                <h:panelGroup>
                                                    <h:outputText value="Tipo de autobus: #{comprasController.tipoAutobus(comprasController.camionViajeSeleccionado.idCamion.tipoCamion)}">
                                                    </h:outputText>
                                                    <br/>
                                                    <h:outputText value="Numero de boletos: #{comprasController.cantidadBoletos}">
                                                    </h:outputText>
                                                </h:panelGroup>
                                            </p:panelGrid>
                                        </center>

                                    </h:form>
                                </div>

                                <div class="ui-grid-row">
                                    <br />

                                    <h:form id="formDatos">
                                        <p:poll interval="1" listener="#{boletosController.temporizador}" update="#{p:component('temporiza')}" />
                                        <center>
                                            <p:panelGrid columns="2">
                                                <p:outputLabel value="Nombre de usuario:"/>
                                                <p:inputText value="#{boletosController.objetoBean.user.username}"></p:inputText>

                                                <p:outputLabel value="Numero de tarjeta:"/>
                                                <p:inputText value="#{boletosController.objetoBean.user.idTarjeta.noTarjeta}" readonly="true"></p:inputText>


                                            </p:panelGrid>
                                            <p:commandLink value="Terminos y condiciones" ></p:commandLink>
                                            <br/>
                                            <p:selectBooleanCheckbox
                                                required="true"
                                                id="checkbox" >
                                                <!--<f:validateRegex  pattern="true"/>-->
                                                <p:ajax event="change" listener="#{boletosController.terminosCondiciones()}" update="siguiente "/>
                                            </p:selectBooleanCheckbox>                          
                                            <h:message for="checkbox"/>
                                            <hr/>
                                            <p:commandButton value="Cancelar" action="#{boletosController.eliminarApartados()}" style="width: 15%;"/>
                                            <p:commandButton id="siguiente" value="Confirmar" action="#{boletosController.comprarApartados()}" style="width: 15%;" disabled="#{boletosController.terminos}"/>
                                        </center>

                                    </h:form>
                                </div>
                            </p:panel>
                        </div>
                        <div class="ui-grid-col-4"><p:spacer height="2"/></div>
                    </div>
                </div>
            </ui:define>
            <ui:define name="south" >
                <ui:include src="/templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>

    </h:body>
</html>

