<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>

    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:param name="pageTitle" value="Principal"/>
            <ui:param name="hideWest" value="true"/>
            <ui:define name="head">
                <ui:include src="/templates/header.xhtml"/>
            </ui:define>

            <ui:define name="center">
                <div class="ui-fluid">
                    <p:steps activeIndex="0" styleClass="custom" readonly="false">
                        <p:menuitem value="Boletos"  url="#"/>
                        <p:menuitem value="Confirmar datos" url="#"/>
                        <p:menuitem value="Imprimir boletos" url="#"/>
                    </p:steps>
                    <div class="ui-grid-row">

                        <div class="ui-grid-col-0"><p:spacer height="2"/></div>
                        <div class="ui-grid-col-11">
                            <p:panel header="Información de boletos" style="margin-left: 4%; " >

                                <br />
                                <h:form id="formTabla">
                                    <div class="ui-grid-row">

                                        <p:dataTable id="tablaBoletos" var="datos" value="#{boletosController.cargarSeleccion(comprasController.camionViajeSeleccionado, comprasController.cantidadBoletos)}" emptyMessage="No hay boletos" style="width:100%;"  >
                                            <p:column>
                                                <f:facet name="header" >Origen                  
                                                </f:facet>

                                                <h:outputText value="#{datos.idCamionViaje.idViaje.idDestino.nombreOrigen}">

                                                </h:outputText>
                                            </p:column>
                                            <p:column >
                                                <f:facet name="header">Destino</f:facet>

                                                <h:outputText value="#{datos.idCamionViaje.idViaje.idDestino.nombreDestino}">

                                                </h:outputText>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">Importe</f:facet>

                                                <h:outputText value="#{datos.idCamionViaje.idViaje.idDestino.tarifa}">

                                                </h:outputText>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">Salida</f:facet>

                                                <h:outputText value="#{datos.idCamionViaje.idViaje.salida}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
                                                </h:outputText>
                                            </p:column>

                                            <f:facet name="footer">

                                                <p:commandButton value="Comprar boletos" action="#{boletosController.apartarBoletos()}"/>
                                            </f:facet>

                                        </p:dataTable>
                                    </div>


                                </h:form>

                            </p:panel>
                        </div>

                        <div class="ui-grid-col-4"><p:spacer height="2"/></div>
                    </div>
                </div>
            </ui:define>
            <ui:define name="south" >
                <ui:include src="/templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>

    </h:body>
</html>

