<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ViajesCreateDlg" widgetVar="ViajesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateViajesTitle}">
            <h:form id="ViajesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{viajesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateViajesLabel_idViaje}" for="idViaje" />
                        <p:inputText id="idViaje" value="#{viajesController.selected.idViaje}" title="#{bundle.CreateViajesTitle_idViaje}" required="true" requiredMessage="#{bundle.CreateViajesRequiredMessage_idViaje}"/>
                        <p:outputLabel value="#{bundle.CreateViajesLabel_cupo}" for="cupo" />
                        <p:inputText id="cupo" value="#{viajesController.selected.cupo}" title="#{bundle.CreateViajesTitle_cupo}" />
                        <p:outputLabel value="#{bundle.CreateViajesLabel_salida}" for="salida" />
                        <p:calendar id="salida" pattern="MM/dd/yyyy" value="#{viajesController.selected.salida}" title="#{bundle.EditViajesTitle_salida}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateViajesLabel_llegada}" for="llegada" />
                        <p:calendar id="llegada" pattern="MM/dd/yyyy" value="#{viajesController.selected.llegada}" title="#{bundle.EditViajesTitle_llegada}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateViajesLabel_estatus}" for="estatus" />
                        <p:inputText id="estatus" value="#{viajesController.selected.estatus}" title="#{bundle.CreateViajesTitle_estatus}" />
                        <p:outputLabel value="#{bundle.CreateViajesLabel_idDestino}" for="idDestino" />
                        <p:selectOneMenu id="idDestino" value="#{viajesController.selected.idDestino}" >
                            <f:selectItems value="#{destinosController.itemsAvailableSelectOne}"
                                           var="idDestinoItem"
                                           itemValue="#{idDestinoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{viajesController.create}" value="#{bundle.Save}" update="display,:ViajesListForm:datalist,:growl" oncomplete="handleSubmit(args,'ViajesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ViajesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
