<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ViajesEditDlg" widgetVar="ViajesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditViajesTitle}">
            <h:form id="ViajesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{viajesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditViajesLabel_idViaje}" for="idViaje" />
                        <p:inputText id="idViaje" value="#{viajesController.selected.idViaje}" title="#{bundle.EditViajesTitle_idViaje}" required="true" requiredMessage="#{bundle.EditViajesRequiredMessage_idViaje}"/>
                        <p:outputLabel value="#{bundle.EditViajesLabel_cupo}" for="cupo" />
                        <p:inputText id="cupo" value="#{viajesController.selected.cupo}" title="#{bundle.EditViajesTitle_cupo}" />
                        <p:outputLabel value="#{bundle.EditViajesLabel_salida}" for="salida" />
                        <p:calendar id="salida" pattern="MM/dd/yyyy" value="#{viajesController.selected.salida}" title="#{bundle.EditViajesTitle_salida}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditViajesLabel_llegada}" for="llegada" />
                        <p:calendar id="llegada" pattern="MM/dd/yyyy" value="#{viajesController.selected.llegada}" title="#{bundle.EditViajesTitle_llegada}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditViajesLabel_estatus}" for="estatus" />
                        <p:inputText id="estatus" value="#{viajesController.selected.estatus}" title="#{bundle.EditViajesTitle_estatus}" />
                        <p:outputLabel value="#{bundle.EditViajesLabel_idDestino}" for="idDestino" />
                        <p:selectOneMenu id="idDestino" value="#{viajesController.selected.idDestino}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{destinosController.itemsAvailableSelectOne}"
                                           var="idDestinoItem"
                                           itemValue="#{idDestinoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{viajesController.update}" value="#{bundle.Save}" update="display,:ViajesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ViajesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ViajesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
