<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CamionViajeCreateDlg" widgetVar="CamionViajeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCamionViajeTitle}">
            <h:form id="CamionViajeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{camionViajeController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCamionViajeLabel_idCamionViaje}" for="idCamionViaje" />
                        <p:inputText id="idCamionViaje" value="#{camionViajeController.selected.idCamionViaje}" title="#{bundle.CreateCamionViajeTitle_idCamionViaje}" required="true" requiredMessage="#{bundle.CreateCamionViajeRequiredMessage_idCamionViaje}"/>
                        <p:outputLabel value="#{bundle.CreateCamionViajeLabel_idViaje}" for="idViaje" />
                        <p:selectOneMenu id="idViaje" value="#{camionViajeController.selected.idViaje}" >
                            <f:selectItems value="#{viajesController.itemsAvailableSelectOne}"
                                           var="idViajeItem"
                                           itemValue="#{idViajeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateCamionViajeLabel_idCamion}" for="idCamion" />
                        <p:selectOneMenu id="idCamion" value="#{camionViajeController.selected.idCamion}" >
                            <f:selectItems value="#{camionesController.itemsAvailableSelectOne}"
                                           var="idCamionItem"
                                           itemValue="#{idCamionItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{camionViajeController.create}" value="#{bundle.Save}" update="display,:CamionViajeListForm:datalist,:growl" oncomplete="handleSubmit(args,'CamionViajeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CamionViajeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
