<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{pageTitle}</title>
        <h:outputStylesheet library="css" name="estiloVenta.css"/>
        <h:outputStylesheet library="css" name="default.css"/>
        
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="75">
                <ui:insert name="head" >
                    <ui:include src="/templates/header.xhtml"/>
                </ui:insert>
            </p:layoutUnit>
            
            <p:layoutUnit position="west" size="400" rendered="#{!hideWest}">
                <ui:insert name="west">
                   <ui:include src="/templates/west.xhtml"/>
                </ui:insert>
            </p:layoutUnit>
            
            <p:layoutUnit position="center">
                <ui:insert name="center">
                    
                </ui:insert>
            </p:layoutUnit>
            
            <p:layoutUnit position="south" size="70">
                <ui:insert name="south">
                    <ui:include src="/templates/footer.xhtml"/>
                </ui:insert>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

