<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Camiones</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="/templates/main_2.xhtml">
            <ui:param name="pageTitle" value="Panel de Viajes y Camiones"/>
            <ui:define name="north">
                <ui:include src="/templates/header.xhtml"/>     
            </ui:define>

            <ui:define name="west">                

                <p:menu>
                    <p:menuitem value="Panel de inicio" url="viajes_camiones.xhtml" icon="ui-icon-document"/>
                    <p:submenu label="Consulta">
                        <p:menuitem value="Destinos" url="destinos_vista.xhtml" icon="ui-icon-document" />
                    </p:submenu>
                    <p:submenu label="Viajes">
                        <p:menuitem value="Camiones" url="camiones.xhtml" icon="ui-icon-document"/>
                        <p:menuitem value="Viajes" url="viajes.xhtml" icon="ui-icon-document"/>
                        <p:menuitem value="Asignaciones" url="asignaciones.xhtml" icon="ui-icon-document"/>
                    </p:submenu>
                </p:menu>

            </ui:define>

            <ui:define name="center">

                <div align="center">
                    <h3>CONSULTA Y EDICIÓN DE CAMIONES</h3>
                    <br/>
                    <h:form>
                        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" severity="error" />
                        <p:dataTable var="cam" value="#{camionesController.items}" paginator="true" selectionMode="single"
                                     rowKey="#{cam.idCamion}" rows="12" selection="#{camionesController.selected}">
                            <p:column headerText="Identificador">
                                <h:outputText value="#{cam.idCamion}" />
                            </p:column>

                            <p:column headerText="Tipo">
                                <h:outputText value="#{camionesController.tipoCamion(cam.tipoCamion)}" />
                            </p:column>

                            <p:column headerText="Capacidad (personas)">
                                <h:outputText value="#{cam.capacidad}" />
                            </p:column>

                            <p:column headerText="Status">
                                <h:outputText value="#{camionesController.statusCamion(cam.estatus)}" />
                            </p:column>
                        </p:dataTable>
                            <p:commandButton value="eliminar" title="eliminar" icon="ui-icon-circle-close" actionListener="#{camionesController.destroy()}" disabled="#{camionesController.selected}" />
                            <p:commandButton value="editar" title="editar" icon="ui-icon-pencil" onclick="PF('editCamiones').show();" disabled="#{camionesController.selected}" />
                    </h:form>

                </div>
            </ui:define>

            <ui:define name="south">       
                <ui:include src="/templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </body>
</html>


