<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Camiones</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="/templates/main_2.xhtml">
            <ui:param name="pageTitle" value="Panel de Viajes y Camiones"/>
            <ui:define name="north">
                <ui:include src="/templates/header.xhtml"/>     
            </ui:define>

            <ui:define name="west">                

                <p:menu>
                    <p:menuitem value="Panel de inicio" url="viajes_camiones.xhtml" icon="ui-icon-document"/>
                    <p:submenu label="Consulta">
                        <p:menuitem value="Destinos" url="destinos_vista.xhtml" icon="ui-icon-document" />
                    </p:submenu>
                    <p:submenu label="Viajes">
                        <p:menuitem value="Camiones" url="camiones.xhtml" icon="ui-icon-document"/>
                        <p:menuitem value="Viajes" url="viajes.xhtml" icon="ui-icon-document"/>
                        <p:menuitem value="Asignaciones" url="asignaciones.xhtml" icon="ui-icon-document"/>
                    </p:submenu>
                </p:menu>

            </ui:define>

            <ui:define name="center">

                <div align="center">
                    <br/><br/>
                    <h1>PANEL DE VIAJES Y CAMIONES</h1>
                    <br/>
                    <p:graphicImage name="camiónlogo3.png" library="img" alt="Primefaces" height="200" width="500"/>
                </div>
            </ui:define>

            <ui:define name="south">       
                <ui:include src="/templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </body>
</html>


