<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Viajes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="/templates/main_2.xhtml">
            <ui:param name="pageTitle" value="Panel de Viajes y Camiones"/>
            <ui:define name="north">
                <ui:include src="/templates/header.xhtml"/>     
            </ui:define>

            <ui:define name="west">                

                <p:menu>
                    <p:menuitem value="Panel de inicio" url="viajes_camiones.xhtml" icon="ui-icon-document"/>
                    <p:submenu label="Consulta">
                        <p:menuitem value="Destinos" url="destinos_vista.xhtml" icon="ui-icon-document" />
                    </p:submenu>
                    <p:submenu label="Viajes">
                        <p:menuitem value="Camiones" url="camiones.xhtml" icon="ui-icon-document"/>
                        <p:menuitem value="Viajes" url="viajes.xhtml" icon="ui-icon-document"/>
                        <p:menuitem value="Asignaciones" url="asignaciones.xhtml" icon="ui-icon-document"/>
                    </p:submenu>
                </p:menu>

            </ui:define>

            <ui:define name="center">

                <div align="center">
                    <h3>CONSULTA Y EDICIÓN DE VIAJES</h3>
                    <br/>
                    <h:form>
                        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" severity="error" />
                        <p:dataTable var="via" value="#{viajesController.items}" paginator="true" selectionMode="single"
                                     rowKey="#{via.idViaje}" rows="12" selection="#{viajesController.selected}">
                            <p:column headerText="Identificador">
                                <h:outputText value="#{via.idViaje}" />
                            </p:column>

                            <p:column headerText="Destino">
                                <h:outputText value="#{via.idDestino}" />
                            </p:column>

                            <p:column headerText="Cupo (personas)">
                                <h:outputText value="#{via.cupo}" />
                            </p:column>

                            <p:column headerText="Salida">
                                <h:outputText value="#{via.salida}" />
                            </p:column>

                            <p:column headerText="Llegada">
                                <h:outputText value="#{via.llegada}" />
                            </p:column>

                            <p:column headerText="Estatus">
                                <h:outputText value="#{viajesController.statusViaje(via.estatus)}" />
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="eliminar" title="eliminar" icon="ui-icon-circle-close" actionListener="#{viajesController.destroy()}" disabled="#{viajesController.selected}" />
                        <p:commandButton value="editar" title="editar" icon="ui-icon-pencil" onclick="PF('editViajes').show();" disabled="#{viajesController.selected}" />
                    </h:form>

                </div>
            </ui:define>

            <ui:define name="south">       
                <ui:include src="/templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </body>
</html>


