<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CamionesViewDlg" widgetVar="CamionesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCamionesTitle}">
            <h:form id="CamionesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{camionesController.selected != null}">
                        <h:outputText value="#{bundle.ViewCamionesLabel_idCamion}"/>
                        <h:outputText value="#{camionesController.selected.idCamion}" title="#{bundle.ViewCamionesTitle_idCamion}"/>
                        <h:outputText value="#{bundle.ViewCamionesLabel_tipoCamion}"/>
                        <h:outputText value="#{camionesController.selected.tipoCamion}" title="#{bundle.ViewCamionesTitle_tipoCamion}"/>
                        <h:outputText value="#{bundle.ViewCamionesLabel_capacidad}"/>
                        <h:outputText value="#{camionesController.selected.capacidad}" title="#{bundle.ViewCamionesTitle_capacidad}"/>
                        <h:outputText value="#{bundle.ViewCamionesLabel_estatus}"/>
                        <h:outputText value="#{camionesController.selected.estatus}" title="#{bundle.ViewCamionesTitle_estatus}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CamionesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
