<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DestinosCreateDlg" widgetVar="DestinosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateDestinosTitle}">
            <h:form id="DestinosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{destinosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateDestinosLabel_idDestino}" for="idDestino" />
                        <p:inputText id="idDestino" value="#{destinosController.selected.idDestino}" title="#{bundle.CreateDestinosTitle_idDestino}" required="true" requiredMessage="#{bundle.CreateDestinosRequiredMessage_idDestino}"/>
                        <p:outputLabel value="#{bundle.CreateDestinosLabel_nombreOrigen}" for="nombreOrigen" />
                        <p:inputText id="nombreOrigen" value="#{destinosController.selected.nombreOrigen}" title="#{bundle.CreateDestinosTitle_nombreOrigen}" />
                        <p:outputLabel value="#{bundle.CreateDestinosLabel_nombreDestino}" for="nombreDestino" />
                        <p:inputText id="nombreDestino" value="#{destinosController.selected.nombreDestino}" title="#{bundle.CreateDestinosTitle_nombreDestino}" />
                        <p:outputLabel value="#{bundle.CreateDestinosLabel_tiempoRecorrido}" for="tiempoRecorrido" />
                        <p:inputText id="tiempoRecorrido" value="#{destinosController.selected.tiempoRecorrido}" title="#{bundle.CreateDestinosTitle_tiempoRecorrido}" />
                        <p:outputLabel value="#{bundle.CreateDestinosLabel_tarifa}" for="tarifa" />
                        <p:inputText id="tarifa" value="#{destinosController.selected.tarifa}" title="#{bundle.CreateDestinosTitle_tarifa}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{destinosController.create}" value="#{bundle.Save}" update="display,:DestinosListForm:datalist,:growl" oncomplete="handleSubmit(args,'DestinosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DestinosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
